In [2]:
import os
os.chdir("./..")

In [29]:
import pandas as pd
import cv2 as cv2

In [7]:
path1 = "20231210_125945_Multi_FSB_BTS_UNet_new_24_alpha_0.85_batch_2_benign_malignant_normal"
path2 = "20231211_001146_Multi_FSB_BTS_UNet_new_24_alpha_0.8_batch_2_benign_malignant_normal"
path3 = "20231211_165844_Multi_FSB_BTS_UNet_new_24_alpha_0.75_batch_2_benign_malignant_normal"


for fold in range(0, 4):
    root = f"/home/carlos/Documentos/proyectos/breast_cancer/runs/{path1}/fold_{fold}/segs/"
    img = cv2.imread(f"{masks_path}/normal_id_{patient_id}_mask.png", 0)
#     df = df.drop(columns=['patient_id'])
    df["fold"] = fold
    results85.append(df)

results85 = pd.concat(results85)
results85.head(2)

/home/carlos/Documentos/proyectos/breast_cancer/runs/20231210_125945_Multi_FSB_BTS_UNet_new_24_alpha_0.85_batch_2_benign_malignant_normal/fold_0/segs/benign_23_seg.png

   patient_id  ground_truth  predicted_label  fold
0          23             0                0     0
1          26             0                0     0

In [14]:
merged = results85.merge(results80, on=['patient_id', 'ground_truth', 'fold']).merge(results75, on=['patient_id', 'ground_truth', 'fold'])
merged = merged[['patient_id', 'ground_truth', 'fold', 'predicted_label_x', 'predicted_label_y', 'predicted_label']]
merged

,patient_id,ground_truth,fold,predicted_label_x,predicted_label_y,predicted_label
0,23,0,0,0,0,0
1,26,0,0,0,0,0
2,27,0,0,0,0,0
3,29,0,0,0,1,0
4,34,0,0,0,0,0
...,...,...,...,...,...,...
445,109,2,3,1,2,2
446,112,2,3,0,0,2
447,113,2,3,1,0,2
448,114,2,3,2,2,2
449,115,2,3,2,0,2

In [24]:
merged['voting'] = round(merged[['predicted_label_x', 'predicted_label_y', 'predicted_label']].mean(axis=1), 0).astype(int)
merged

,patient_id,ground_truth,fold,predicted_label_x,predicted_label_y,predicted_label,mean,voting
0,23,0,0,0,0,0,0,0
1,26,0,0,0,0,0,0,0
2,27,0,0,0,0,0,0,0
3,29,0,0,0,1,0,0,0
4,34,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
445,109,2,3,1,2,2,2,2
446,112,2,3,0,0,2,1,1
447,113,2,3,1,0,2,1,1
448,114,2,3,2,2,2,2,2
449,115,2,3,2,0,2,1,1

In [25]:
from sklearn.metrics import accuracy_score

accuracy_score(merged.ground_truth, merged.voting)

0.7355555555555555

In [28]:
accuracy_score(merged.ground_truth, merged.predicted_label_x)

0.7644444444444445